<html>
<form>
    <select name="departments" multiple>
        {{range .Departments}}
        <option{{if contains $.Query.departments .}} selected{{end}}>{{.}}</option>
        {{end}}
    </select>
    <select name="cities" multiple>
        {{range .Cities}}
        <option{{if contains $.Query.cities .}} selected{{end}}>{{.}}</option>
        {{end}}
    </select>
    <select name="districts" multiple>
        {{range .Districts}}
        <option{{if contains $.Query.districts .}} selected{{end}}>{{.}}</option>
        {{end}}
    </select>
    <button>Filter!</button>
</form>

<table border="1">
    <tr>
        <th align="center">href</th>
        <th align="center">title</th>
        <th align="center">price</th>
        <th align="center">published_at</th>
        <th align="center">urgent</th>
        <th align="center">department</th>
        <th align="center">city</th>
        <th align="center">district</th>
    </tr>
    {{range .Announces}}
    <tr valign="top">
        <td align="left"><a href="{{.Href}}">{{.Href}}</a></td>
        <td align="left">{{.Title}}</td>
        <td align="right">{{if .Price}}{{.Price}}{{end}}</td>
        <td align="left">{{.PublishedAt.Format "Mon, 02 Jan 2006 15:04"}}</td>
        <td align="left">{{.Urgent}}</td>
        <td align="left">{{.Department}}</td>
        <td align="left">{{.City}}</td>
        <td align="left">{{.District}}</td>
    </tr>
    {{end}}
</table>
</html>